@-moz-document domain("amazon.com"), domain("amazon.co.uk") {
#gw-layout.aok-relative,
div#pageContent{
    display:none!important;
}

body,
#dp,
.nav-search-facade *,
.a-carousel-card *,
.a-section.profile-v5-desktop-background{
    background-color:#404040!important;
    color:#eee!important;
}

.a-color-secondary,
.nav-search-field input,
select#searchDropdownBox option,
td,
p,
ul.a-unordered-list *{
    color:#e6e6e6!important;
    font-weight:bold!important;
}

a.review-title{
    color:#27c4ec!important;
    letter-spacing:0.3px!important;
}

.review-date{
    color:#ccafaf!important;
}

.cr-vote .cr-vote-text{
    color:#d5cfbc!important;
}

.review-text-content{
    font-size:15px!important;
}

.a-cardui,
#mediaTabs_tabSetContainer *,
.celwidget *,
.sg-row,
.sg-row *,
#trialBox{
    background-color:#3c3c3c!important;
}

.a-button-inner,
#authorPageContainer #authorName,
.a-carousel-card,
#moreInformation,
.a-section.profile-v5-desktop-background *{
    background-color:#2f2f2f!important;
}

a,
.a-profile-name,
.a-link-normal span{
    color:#6fffea!important;
}

#description_expander_heading{
    background-color:inherit!important;
}

#description_expander_heading .a-expander-content-fade{
    display:none!important;
}

.a-fixed-left-grid-col.a-col-left div .a-section.a-spacing-base div.a-row{
    margin-top: 10px!important;
    margin-bottom: 10px!important;
}


.a-fixed-left-grid-col.a-col-left div .a-section.a-spacing-base div.a-row span{
    color:#ffe855!important;
}

span[data-hook='review-title'] span,
a[data-hook='review-title'] span{
    color:#ecf767!important;
}

form#sp-cc,
div.a-section.glow-toaster.glow-toaster-theme-default.glow-toaster-slot-default.nav-coreFlyout.nav-flyout{
    display:none!important;
}

.a-expander-collapsed-height.a-row.a-expander-container.a-expander-partial-collapse-container{
    max-height:none!important;
    height:auto!important;
}

.a-spinner.a-spinner-medium{
    display:none!important;
}

.review-text .a-expander-collapsed-height{
    position: inherit!important;
}

#similarities_feature_div{
    display:none!important;
}

.a-expander-content-fade{
    background: inherit!important;
}
}