@-moz-document domain("archiveofourown.org") {
html{
    background-color:#222!important;
}

#main,
.work,
#tos_prompt,
.heading,
#header,
#outer{
    background-color:#333!important;
    color:#eee!important;
}

fieldset{
    background-color:#555!important;
    color:#eee!important;    
}

li[role='menu-item']{
    background-color:#555!important;
    color:#eee!important;
}

#inner{
    background-color:#111!important;
}
#dashboard{
    background-color:#222!important;
}
#dashboard ul li a{
    color:#8eccfd!important;
}

#user-fandoms,
.index.group{
    background-color:#333!important;
    box-shadow:none!important;
}

#user-fandoms,
#user-works,
#user-works .index.group li.work.blurb.group{
    border:2px solid #999!important;
}

ul li a,
p a{
    color:#000!important;
}

a{
    color:#8eccfd!important;
}

a:hover{
    color:#9de0f6!important;
}

.tag,
.kudos a{
    color:#5183aa!important;
}

.tag:hover,
.kudos a:hover{
    background:inherit!important;
    color:#6996b9!important;
}

#comments_placeholder ol{
    background-color:#555!important;
    color:#eee!important;    
}
#comments_placeholder ol li{
    background-color:#444!important;
}

li.relationships a{
    background-color:inherit !important;
    font-weight:bold !important;
    color: #6196b3 !important;
}

.account.module{
    background:#2d2d2d!important;
}

textarea,
input:not([type='submit']){
    background:#333333!important;
    box-shadow:none!important;
    color:white!important;
}

form{
    background:#3e3e3e!important;
}
form dl{
    background:#555!important;
    border-color:#555;
}

.flash.notice,
p.notice,
form label{
    color:black!important;
}

div.container.darker,
div.container.darker + div.container{
    background-color:inherit!important;
}

.comment_notice{
    color: #333;
}
}