@-moz-document domain("youtube.com") {
#ryd-bar{
    background:green!important;
}

#ryd-bar-container{
    background:red!important;
}

ytd-toggle-button-renderer.style-scope:nth-child(1) > a:nth-child(1) > yt-icon-button:nth-child(1) > button:nth-child(1) > yt-icon:nth-child(1){
    fill:green!important;
}

ytd-toggle-button-renderer.style-scope:nth-child(2) > a:nth-child(1) > yt-icon-button:nth-child(1) > button:nth-child(1) > yt-icon:nth-child(1){
    fill:red!important;
}
}