@-moz-document domain("developer.mozilla.org") {
/*body:not(.code-example){*/
/*body **/
body:not(.code-example){
    background-color: #444!important;
}
body:not(.code-example){
    color: #EEE!important;
}

a{
    color: #5bffe0!important;
}

.breadcrumb-locale-container,
.page-header-main,
.page-header-main *,
.bc-table.bc-table-web,
.bc-table.bc-table-web *{
    background-color: #2d2d2d!important;
    color: #EEE!important;
}

.bc-supports-no{
    background-image:linear-gradient(to bottom right,rgba(251, 13, 20, 0.1) 0,rgba(94,3,6,.1) 1px,#f000 0,#f000 67px,rgba(255, 0, 8, 0.1) 0,rgba(234, 19, 26, 0.1) 73px,#f000 0,#f000 138px,rgba(234, 12, 20, 0.1) 0,rgba(217, 25, 31, 0.1) 144px,#f000 0),linear-gradient(to bottom left,rgba(255, 0, 8, 0.1) 0,rgba(247, 0, 8, 0.1) 1px,#ff020200 0,#f90a0a00 67px,rgba(255, 0, 8, 0.1) 0,rgba(255, 0, 8, 0.1) 73px,transparent 0,#fb000000 138px,rgba(94,3,6,.1) 0,rgba(255, 0, 8, 0.1) 144px,#f000 0)!important;
}

.notecard.note{
/*     background-color:#4d83db!important; */
    background-color:#3e495b !important;
}

/*---*/

body .code-example *,
table *,
pre.notranslate,
code,
.metadata{
    background-color: #202020!important;
}

.property{
    color:#cc2f17!important;
}

.comment{
    color:#57A64A!important;
}

.string{
    color:#D69D85!important;
}
}