@-moz-document domain("translate.google.com") {
c-wiz.zQTmif.SSPGKf.RvYhPd.BIdYQ.aL9XFd{
    background-color:#202020 !important;    
}

.vLsFwd.lyY31c{
    visibility:hidden !important;
}

.T4LgNb,
c-wiz.EO28P{
    background-color:#2f2f2f !important;
}

c-wiz.rm1UF.UnxENd,
c-wiz.P6w8m{
    background-color:#424242 !important;
}

/*language name color*/
.VfPpkd-jY41G-V67aGc{
    color:#aaa !important;
}

/*language selection*/
.UU714.X4hZJc{
    background-color:#515151 !important;
}
/*language selection search field*/
.RstnCb.sG5QRb,
.KskmCc{
    background-color:#404040 !important;
    color:#eee !important;
}
/*selected language*/
.ordo2.KKjvXb{
    background-color:#595959 !important;
    color:#2bd3f4 !important;
}

.ordo2:hover{
    background-color:#717070 !important;
}

.ordo2{
    color:#ccc !important;
}

/*weird afterarea*/
.X4DQ0::after{
    background:inherit !important;
}

textarea,
.tm8pq{
    color:#eee !important;
}

.ZTPlmc span{
    color:#ddd !important;
}

.ySES5{
    background-color:#202020 !important;
}

i.material-icons-extended.VfPpkd-kBDsod.qUL6me{
    color:#e0f42b !important;
}

div.kGmWO section .Dwvecf,
div .Dwvecf,
.S6GkK{
    background-color: #424242!important;
    color: #e8e8e8 !important
}

.xex4Kc{
    color: #cecece !important;
    font-weight: bold!important;
}

/*
#ow423 > div:nth-child(1) > span:nth-child(1) > button:nth-child(1) *{
    color: rgb(95, 99, 104)!important;
    fill: rgb(95, 99, 104)!important;
    background-color: inherit!important;
}
*/

.zpzJBc > .jTj8gd > .Sp3AF *{
    background-color: inherit!important;
    color: inherit !important
}

.eIKIse{
    color: #50bcf9!important;
}
}