@-moz-document domain("urbandictionary.com") {

.columns .right.text-right,
div.definition .right.text-right,
.mug-ad,
#columnist ul.no-bullet.alphabetical,
.min-h-\[90px\]{
    display:none!important;
}

/*darkening the sorroundings*/
body{
    background:#1e1e1e!important;
}

/*darkening the content*/
.columns *,
div.definition
/*,span.inline-block > bg-white*/,
form.w-full input,
span#algolia-autocomplete-listbox-0{
    background:#404040!important;
    color:#eee!important;
    box-shadow:none;
}

/*separation*/
.def-panel{
    border-bottom:10px solid #717171!important;
}

/*so the like/dislike doesn't clip*/
.def-panel .def-footer{
    margin-bottom:10px;
}

.columns a,
div.definition a{
    /*color:#4e83b0!important;*/
    color:#2fbec6!important;
}
.columns a:hover,
div.definition a:hover{
    /*color:#4fd4e1!important;*/
    color:#75d4dd!important;
}

/*thumbs up*/
a.up path,
div.flex.items-center > div.thumbs[data-direction="up"] svg{
    fill:#99e399!important;
}

/*thumbs down*/
a.down path,
div.flex.items-center > div.thumbs[data-direction="down"] svg{
    fill:#ac4848!important;
}

.panel svg{
    background:#484848!important;
}
}