@-moz-document regexp(".*youtube\\.com\\/((?!videos|streams|shorts).)*$") {
.style-scope.app-drawer,
#contents.style-scope.ytd-rich-grid-renderer,
.style-scope.ytd-rich-grid-renderer,
.style-scope.ytd-two-column-browse-results-renderer ytd-section-list-renderer.style-scope.ytd-two-column-browse-results-renderer[page-subtype="home"] div #contents,
ytd-single-option-survey-renderer.style-scope
{
    display:none;
}

/*for the top-left*/
#country-code{
    display:none;
}

/*"add a comment" placeholder*/
#simple-box ytd-comment-simplebox-renderer{
    display:none;
}


/*for a left-side draggable part*/
tp-yt-app-drawer#guide #contentContainer,
ytd-mini-guide-renderer.ytd-app{
    display:none!important;
}

/*5 sec popup*/
.ytp-doubletap-ui{
    display:none!important;
}

.ytp-button.ytp-share-button{
    display:none!important;
}

/*for top white part*/
.ytp-gradient-top{
    display:none!important;
}

.ytp-gradient-bottom{
    height:10%!important;
}

/*top-right buttons*/
.ytp-cards-button-icon,
.ytp-watch-later-icon{
    display:none!important;
}

/*on video hover*/
#mouseover-overlay,
#hover-overlays{
    display:none!important;
}

.ytp-doubletap-ui-legacy{
    display:none!important;
}

/*for channels section*/
#subscribe.ytd-grid-channel-renderer{
    display:none!important;
}

ytd-page-manager#page-manager ytd-shelf-renderer.style-scope:nth-child(8) > div:nth-child(1),
ytd-shelf-renderer.style-scope > div:nth-child(1){
    background-color:#401919!important;
}
}